
@{
    ViewBag.Title = "Logout";
    Layout = "~/Views/_LayoutPageLogin.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <script>
        window.location.replace('@Url.Action("Login", "Login")');
    </script>
</head>
<body>
    Redirecting to login...
</body>
</html>