
@{
    ViewBag.Title = "Logout";
    Layout = "~/Views/_LayoutPagePatient.cshtml";
}



<h2>You have been logged out successfully.</h2>
<p><a href="@Url.Action("Login", "Login")">Login again</a></p>
